.arrowButton {
    font-size: 12px;
    padding: 2px;
    border-radius: 3px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    font-family: sans-serif;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

.arrowButton:hover {
    cursor: pointer;
}

.arrowButton:active {
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-left: 2px solid darkgray;
    border-top: 2px solid darkgray;
}

button {
    font-size: 15px;
}